* {
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    max-width: 1920px; 
    max-height: auto;    
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #E2F2F4;
    margin: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
nav a {
    text-decoration: none;
    vertical-align: middle;
}

nav li {
    display: inline-block;
    padding: 0 71px;
}
.button {
    height: 60px;
}

/*.button {*/
/*    font-size: 16px;*/
/*    height: 30px;*/
/*    padding: 5px;*/
/*    background-color: darkslategrey;*/
/*    color: #fff;*/
/*    border: 3px solid white;*/
/*    border-radius: 10px*/
/*}*/

.logo {
    height: 100px;
}

.submain {
    display: flex;
    padding: 50px;
    min-width: 720px;
}

.submain img {
    /*padding: 50px;*/
    width: 50%;
    /*min-width: 300px;*/
}


.text_about h2 {
    font-size: 36px;
    text-align: center;
    padding: 1em;
}

.text_about p {
    font-size: 24px;
    padding: 0em 3em;
    /*max-width: 400px;*/
}

#chinagirl {
    margin: 7%;
    width: 86%;
}

footer {
    background-color: #697E9A;
    height: 200px;
    display: flex;
    justify-content: space-around;
}

footer div {
    /*border: 1px solid black;*/
    padding: 2em;
    width: 20%;
    margin: 1em;
}

ul li {
    list-style: none;
}

.bold {
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
    /*display: block;*/
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}


.social ul li::before {
    content: " ";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
}

#inst::before {
    background-image: url("static/inst.png");
}

#vk::before {
    background-image: url("static/vk.png");
}

#facebook::before {
    background-image: url("static/fb.png");
}

.social a {
    margin-left: 25px;
}
