.container {
   width: auto;
   max-width: 1920px; 
   max-height: auto;    
   width: 100%;
   margin: 0 auto;
}
header {
   background-color: #E2F2F4;
   margin: 0;
   width: 100%;
}
nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
   
}
nav a {
   text-decoration: none;
   vertical-align: middle;
}

nav li {
   display: inline-block;
   padding: 0 71px;
}
h1 { position: absolute;
    width:100%;
    height: 59px;
    top: 238px;
    text-align: center;
    vertical-align: middle;
    
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 85px;}

    h3 { position: absolute;
      width:100%;
      height: 59px;
      top: 2148px;
      text-align: center;
      vertical-align: middle;
      
      font-family: 'PT Serif';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 85px;}

      h4 { position: absolute;
         width:100%;
         height: 59px;
         top: 3399px;
         text-align: center;
         vertical-align: middle;
         
         font-family: 'PT Serif';
         font-style: normal;
         font-weight: 700;
         font-size: 64px;
         line-height: 85px;}

      p{ position: absolute;
         width:1620px;
         height: 250px;
         top: 130px;
         right: 0;
         left: 0;
         margin: 0 auto;
         text-align: center;
         vertical-align: middle;
         line-height: 42px;
         
         font-family: 'PT Serif';
         font-style: normal;
         font-weight: 700;
         font-size: 32px;
         }

         h5 { position: absolute;
            width:100%;
            height: 59px;
            top:4213px;
            text-align: center;
            vertical-align: middle;
            
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 700;
            font-size: 64px;
            line-height: 85px;}
   
         p{ position: absolute;
            width:1620px;
            height: 250px;
            top: 130px;
            right: 0;
            left: 0;
            margin: 0 auto;
            text-align: center;
            vertical-align: middle;
            line-height: 42px;
            
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            }
     
    .square1 {
    position: fixed;
    width: 100%;
    height: 175px;
    
    
    background: #E2F2F4;}

    .square2{
         position: absolute;
        height: 1669px;
        width: 1622px;

        right: 0;
        left: 0;
        margin: 0 auto;
        top: 389px;
        background: #697E9A;
        border-radius: 50px}
        
    .square3{ 
        display: flex;
        width: 718px;
        height: 52px;
        left: 70px;
        right: 0;
        top: 73px;
        position: absolute;
        background: #FFFFFF;
        border-radius: 50px;}

        .square4{ display: flex;
            flex-wrap: wrap;
             position: absolute;
width: 314px;
height: 52px;
left: 1135px;
top: 73px;
border-radius: 50px;
background: #FFFFFF;}
       
.square5{ 
   display: flex;
   width: 718px;
   height: 52px;
   left: 70px;
   right: 0;
   top: 549px;
   position: absolute;
   background: #FFFFFF;
   border-radius: 50px;}

   .square6{ 
      display: flex;
      width: 718px;
      height: 52px;
      left: 66px;
      right:0px;
      top: 1039px;
      position: absolute;
      background: #FFFFFF;
      border-radius: 50px;}


              .polcikl { width: 718px;
            height: 52px;
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 700;
            font-size:38px;
                       margin: 4px ;
                       text-align: center; }

        .box {display: flex; 
            width: 710px;
         height: 145px;
         top: 150px;
         left: 100px;
         position: absolute; }

         .box2 {display: flex; 
            width: 710px;
         height: 145px;
         top: 280px;
         left: 100px;
         position: absolute; }

         .box3 {display: flex; 
            width: 710px;
         height: 145px;
         top: 420px;
         left: 100px;
         position: absolute; }   

         .box4 {display: flex; 
            width: 314px;
         height: 52px;
         top: 169px;
         left: 1139px;
         position: absolute; } 
         
         .box5 {display: flex; 
            width: 314px;
         height: 52px;
         top: 310px;
         left: 1139px;
         position: absolute; } 

         .box6 {display: flex; 
            width: 314px;
         height: 52px;
         top: 440px;
         left: 1139px;
         position: absolute; } 

         .box7 {display: flex; 
            width: 710px;
         height: 145px;
         top: 626px;
         left: 100px;
         position: absolute; } 

         .box8 {
            width: 710px;
         height: 145px;
         top: 756px;
         left: 100px;
         position: absolute;} 

         .box9 {
            width: 710px;
         height: 145px;
         top: 900px;
         left: 100px;
         position: absolute; }

         .box10 {display: flex; 
            width: 314px;
         height: 52px;
         top: 645px;
         left: 1139px;
         position: absolute; }  

         .box11 {display: flex; 
            width: 314px;
         height: 52px;
         top: 776px;
         left: 1139px;
         position: absolute; } 

         .box12 {display: flex; 
            width: 314px;
         height: 52px;
         top: 900px;
         left: 1139px;
         position: absolute; } 

         .box13 {
            width: 710px;
         height: 145px;
         top: 1155px;
         left: 100px;
         position: absolute; }
         
         .box14 {
            width: 710px;
         height: 145px;
         top: 1305px;
         left: 100px;
         position: absolute; }

         .box15 {
            width: 710px;
         height: 145px;
         top: 1490px;
         left: 100px;
         position: absolute; }

         .box16 {display: flex; 
            width: 314px;
         height: 52px;
         top: 1174px;
         left: 1139px;
         position: absolute; } 

         .box17 {display: flex; 
            width: 314px;
         height: 52px;
         top: 1350px;
         left: 1139px;
         position: absolute; } 

         .box18 {display: flex; 
            width: 314px;
         height: 52px;
         top: 1516px;
         left: 1139px;
         position: absolute; } 
         

         .text {font-family: 'PT Serif';
            font-style: normal;
            font-weight: 700;
            font-size:38px;
            
            margin: 0 auto;
            color: #FFFFFF;
            text-align: left;}


            .line {position: absolute;
                width: 1379px;
                                left: 66px;
                top: 250px;
                border:  solid thin;
                color: #FFFFFF;
                
                }
                .line2 {position: absolute;
                    width: 1379px;
                                    left: 66px;
                    top: 400px;
                    border:  solid thin;
                    color: #FFFFFF;
                    
                    }
                    .line3 {position: absolute;
                     width: 1379px;
                                     left: 66px;
                     top: 726px;
                     border:  solid thin;
                     color: #FFFFFF;
                     
                     }

                     .line4 {position: absolute;
                        width: 1379px;
                                        left: 66px;
                        top: 876px;
                        border:  solid thin;
                        color: #FFFFFF;}

                        .line5 {position: absolute;
                           width: 1379px;
                                           left: 66px;
                           top: 1273px;
                           border:  solid thin;
                           color: #FFFFFF;}

                           .line6 {position: absolute;
                              width: 1379px;
                                              left: 66px;
                              top: 1463px;
                              border:  solid thin;
                              color: #FFFFFF;}

                              .line7 {position: absolute;
                                 position: absolute;
                                 width: 1622px;
                                 height: 0px;
                                 right: 0;
                                 left: 0;
                                 margin: 0 auto;
                                 top: 2316px;
                                 border: 2px solid #697E9A;
                                 color: #697E9A;}

                                 .line8 {position: absolute;
                                    position: absolute;
                                    width: 1622px;
                                    height: 0px;
                                    right: 0;
                                    left: 0;
                                    margin: 0 auto;
                                    top: 3585px;
                                    border: 2px solid #697E9A;
                                    color: #697E9A;}
   

      .image{position: absolute;
         width: 1494px;
         height: 782px;
         top: 2625px;
         right: 0;
         left: 0;
         margin: 0 auto;
         background: url(1.png);
         background-size: cover;
         border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;}

         .triangle{position: absolute;
         border-top: 100px solid transparent;
         border-left: 170px solid red;
         border-bottom: 100px solid transparent;
          }

          .image2{position: absolute;
            width: 1629px;
            height: 381px;
            top: 3863px;
            right: 0;
            left: 0;
            margin: 0 auto;
            background: url(2.png);
            background-size: cover;
            border-radius: 50px;
         display: flex;
         align-items: center;
         justify-content: center;}
   
         .image3{position: absolute;
            width: 1622px;
            height: 535px;
            top: 4713px;
            right: 0;
            left: 0;
            margin: 0 auto;
            background: url(3.png);
            background-size: cover;
            border-radius: 50px;
         display: flex;
         align-items: center;
         justify-content: center;}

         footer {
            clear: both;
        
            width: 100%;
            height: 277px;
            background: #697E9A;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        .fcontacts {
        
            
            width: 390px;
            height: 206px;
            text-decoration: none;
            list-style-type: none;
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            
            display: inline-block;
            color: #FFFFFF;
            
        }
        
        .fquickmenu {
            position: absolute;
            left: 45%;
            vertical-align: middle;
            width: 177px;
            height: 206px;
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
        
            display: inline-block;
            color: #FFFFFF;
        
        }
        
        .fsocial {
            position: absolute;
            left: 85%;
            vertical-align: middle;
            width: 254px;
            height: 206px;
            font-family: 'PT Serif';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            
            display: inline-block;
            color: #FFFFFF;
        
        }
        
        .fsocial p{
            line-height: 0;
        }
        
        .leftcol {
            width: 45px; 
            vertical-align: top;
        }
        
        .social {
            line-height: 49px;
        }